<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookerya</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Welcome to Bookerya</h1>
</header>

<nav>
    <% if (!loggedIn) { %>
        <p>You have to be logged in to access your books.</p>
    <% } %>

    <% if (loggedIn) { %>
        <a href="/books"><button>View Books</button></a>
        <a href="/logout"><button>Log Out</button></a>
    <% } else { %>
        <a href="/login"><button>Log In</button></a>
    <% } %>
</nav>

<main>
    <p>Here you can manage your book list</p>
</main>

<footer>
    <p>Thank you for visiting our site!</p>
</footer>
</body>
</html>
